@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

/* @import 'bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

:root {
    --blue:    #0d6efd;
    --indigo:  #6610f2;
    --dark-indigo: #4B0082;
    --purple:  #6f42c1;
    --pink:    #d6086f;
    --red:     #dc3545;
    --orange:  #fd7e14;
    --yellow:  #ffc107;
    --green:   #198754;
    --teal:    #20c997;
    --cyan:    #0dcaf0;
    --gray: rgb(196, 183, 183);



    --background--mask: rgba(12, 12, 129, 0.8);
    --background--mask--pure: #0c0c81;
    --color--formask: rgb(216, 185, 10);
    --font--color--formask: white;
    --color--card: rgb(196, 183, 183);
    --background--soft--gradient: linear-gradient(white, rgb(169, 169, 240));
    --navbar--height: 80px;

}

html {
    scroll-padding-top: 80px;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
}
body {
    max-width: 2000px;
    display: block;
    margin: auto !important;
}
img {
    width: 100%;
}
.section {
    width: 100%;
    margin-inline: auto;
    min-height: 80vh;
    padding-block: 30px;
    padding-inline: max(10px, 3vw) !important;

}
.main {
    min-height: 95vh;
    padding-top: 60px;
}

@media (min-width: 768px) and (max-width: 1000px) {
    .main {
        padding-top: 10px;
    }
}
@media (min-width: 1200px) {
    .main {
        padding-top: 78px;
    }
}

.warning-btn {
    background-color: var(--yellow) !important;
    border: 2px solid black !important;
    color: black !important;
    font-weight: 500 !important;
    font-size: 1.5rem !important;
    transition: background-color 0.2s !important;
    transform-origin: left !important;
}
.warning-btn:hover {
    background-color: #bb9420 !important;
}

.row{
    margin: 0 !important;
}
.bg-img {
    background-size:cover;
    background-position: center; 
}

.no-wrap {
    white-space: nowrap;
}

.min-280px {
    min-width: max(100%, 280px);
}
.max-w-350px {
    width: min(100%, 350px);
}

.max-w-600px {
    width: min(100%, 600px);
}

.variable-font {
    font-size: clamp(1rem, 1.2vw, 2rem);
}

.up {
    position: relative;
    top:-3px;
}

.bg-indigo {
 background: linear-gradient(var(--dark-indigo), var(--indigo));    
}

.bg-gray {
    background-color: var(--gray) !important;
    border: 2px solid black;
} */
